{{!--
<script defer="defer">
  var saveLink = document.createElement('div');
  saveLink.style.position = 'absolute';
  saveLink.style.top = '0';
  saveLink.style.left = '0';
  saveLink.style.padding = '10px';
  saveLink.style.background = '#FFFFFF';
  saveLink.style.textAlign = 'center';
  saveLink.innerHTML =
    '<a href="#" id="saveLink">Save Frame</a>';
  document.body.appendChild(saveLink);
  //document.getElementById("saveLink").addEventListener('click', saveAsImage);

  console.log(renderer)
</script> --}}

</body>

</html>